	{% extends 'main/base.html' %}

	{% block main %}
	{% load static %}
	{% load i18n %}
	<main id="content" class="content">
		<div class="lqd-particles-bg-wrap">

			<div class="ld-particles-container">
				<div
					class="ld-particles-inner"
					id="ld-1527244273759-519b63e0-a9d6"
					data-particles="true"
					data-particles-options='{"particles":{"number":{"value":14,"density":2},"color":{"value":["#f9b851","#60eacb","#ff97af","#4e6bff"]},"shape":{"type":["circle","edge","triangle"]},"size":{"value":55,"random":true,"anim":{"enable":true,"size_min":40,"speed":5}},"move":{"enable":true,"direction":"right","speed":1,"random":true,"out_mode":"out","attract":{"enable":true,"rotateX":1200,"rotateY":600}}},"interactivity":[],"retina_detect":true}'>
				</div>
			</div>

		</div><!-- /.lqd-particles-bg-wrap -->
		
		<section class="vc_row fullheight d-flex flex-wrap align-items-center pb-50">

			<div class="container">
				<div class="row d-flex flex-wrap align-items-center">

					<div class="lqd-column col-lg-5 col-md-6 lqd-column" data-custom-animations="true" data-ca-options='{"triggerHandler":"inview","animationTarget":"all-childs","duration":1200,"delay":100,"initValues":{"translateY":51,"opacity":0},"animations":{"translateY":0,"opacity":1}}' >

						<div class="ld-fancy-heading mask-text">
							<h1
								data-split-text="true"
								data-custom-animations="true"
								data-ca-options='{"triggerHandler":"inview","animationTarget":".split-inner","duration":1200,"delay":100,"easing":"easeOutQuint","direction":"forward","initValues":{"scale":1},"animations":{"scale":1}}'
								data-split-options='{"type":"lines"}'
							>
								<span class="ld-fh-txt">{% trans "Green Gamings" %}</span>
							</h1>
						</div><!-- /.ld-fancy-heading -->

						<div class="ld-fancy-heading mask-text mb-75">
							<p
								data-split-text="true"
								data-custom-animations="true"
								data-ca-options='{"triggerHandler":"inview","animationTarget":".split-inner","duration":1200,"delay":100,"easing":"easeOutQuint","direction":"forward","initValues":{"scale":1},"animations":{"scale":1}}'
								data-split-options='{"type":"lines"}'>
								<span class="ld-fh-txt">{% trans "Green Gaming is a fun educational online-gaming platform based on our spectacular planet. It focuses on spreading awareness about environmental issues to prepare our future heroes for their rescue mission 💪. " %}<br> <small><a href="https://www.globalshapers.org/" target="_blank">{% trans "initiative of Global Shapers" %}</a> - <a href="https://www.globalshapers.org/hubs/jeddah-hub" target="_blank">{% trans "Jeddah Hub" %}</a></small></span>
							</p>
						</div><!-- /.ld-fancy-heading -->

						<div class="row">

							<div class="lqd-column col-sm-6 mb-3 mb-md-0">

								<a href="{% url 'games_home' %}" class="btn btn-solid text-uppercase circle btn-bordered border-thin font-size-14 font-weight-semibold">
									<span>
										<span class="btn-txt">{% trans "see our games" %}</span>
									</span>
								</a>

							</div><!-- /.col-sm-6 -->

						</div><!-- /.row -->

					</div><!-- /.col-lg-5 col-md-6 -->

					<div class="lqd-column col-lg-7 col-md-6 hidden-xs hidden-sm hidden-md">
						
						<div class="ld-masked-image" data-dynamic-shape="true">
							<svg version="1.1" class="scene" width="0" height="0" preserveAspectRatio="none" viewBox="0 0 1440 800">
								<defs>
									<clipPath id="masked-image-1">
										<path
											fill="black"
											d="M131,40 C84.135,83.534 96.819,148.446 63.283,217.394 C31.508,282.723 -3.621,324.812 1.461,394.323 C3.451,421.533 12.117,449.828 29.796,480.002 C87.412,578.34 -15.301,663.448 94.611,833.387 C156.302,928.77 316.559,918.015 435.971,936.052 C572.741,956.711 653.384,1003.601 753.566,971.715 C877.689,932.209 924.99262,809.932822 972.63862,707.700822 C1063.84662,512.000822 1038.71071,197.732895 884.476705,67.2268952 C788.919705,-13.6291048 714.704,70.008 529,43 C339.693,15.468 212.609,-35.808 131,40 Z"
											pathdata:id="
											M175.270836,26.7977911 C128.405836,70.3317911 129.938279,144.739124 96.4022789,213.687124 C64.6272789,279.016124 41.242383,286.071679 46.324383,355.582679 C48.314383,382.792679 79.5246278,459.251586 88.7738696,492.334164 C116.497714,591.496483 -75.3047466,680.552915 34.6072534,850.491915 C96.2982534,945.874915 281.559,906.015 400.971,924.052 C537.741,944.711 678.161685,902.348368 778.343685,870.462368 C902.466685,830.956368 927.354,806.232 975,704 C1066.208,508.3 1058.68971,185.848951 904.455709,55.3429506 C808.898709,-25.5130494 786.027661,117.60054 600.323661,90.5925401 C411.016661,63.0605401 256.879836,-49.0102089 175.270836,26.7977911 Z;
											M200.391256,6 C138.06059,22.7990703 77.9622177,42.6445401 44.4262177,111.59254 C12.6512177,176.92154 -4.1051307,212.01786 0.976869296,281.52886 C2.9668693,308.73886 99.0297526,534.545109 108.278994,567.627688 C136.002839,666.790006 -29.1381304,721.523368 80.7738696,891.462368 C142.46487,986.845368 331.636556,840.153183 451.048556,858.190183 C587.818556,878.849183 705.371102,948.496676 805.553102,916.610676 C929.676102,877.104676 941.497784,689.3436 989.143784,587.1116 C1080.35178,391.4116 1050.68971,206.848951 896.455709,76.3429506 C800.898709,-4.5130494 778.027661,138.60054 592.323661,111.59254 C403.016661,84.0605401 312.765712,-24.2866392 200.391256,6 Z"
										/>
									</clipPath>
								</defs>
							</svg>
							<figure class="clip-svg" data-responsive-bg="true" style="clip-path: url(#masked-image-1); -webkit-clip-path: url(#masked-image-1);">
								<img src="{% static 'img/bg1.png' %}" alt="Image">
							</figure>
						</div><!-- /ld-masked-image -->

					</div><!-- /.col-lg-7 col-md-6 -->

				</div><!-- /.row -->
			</div><!-- /.container -->
		</section>

		<section class="vc_row pt-80 pb-120">
			<div class="container">
				<div class="row">

					<div class="lqd-column col-lg-6">

						<header class="fancy-title" data-custom-animations="true" data-ca-options='{"triggerHandler":"inview","animationTarget":"all-childs","duration":1200,"delay":100,"easing":"easeOutQuint","direction":"forward","initValues":{"translateX":-32,"opacity":0},"animations":{"translateX":0,"opacity":1}}'>

							<h6 class="text-uppercase ltr-sp-2 font-size-12 font-weight-semibold text-secondary">{% trans "Mission" %}</h6>
							<h2 class="mt-md-4 pr-md-7 mb-4">{% trans "Our Goal is" %}</h2>
	
							<div class="row">
	
								<div class="lqd-column col-xs-4 col-sm-2 pt-3 mb-4">
	
									<div class="lqd-h-sep">
										<span class="lqd-h-sep-inner"></span><!-- /.lqd-h-sep-inner -->
									</div><!-- /.lqd-h-sep -->
	
								</div><!-- /.col-sm-2 -->
	
								<div class="lqd-column col-sm-10 col-xs-12">
									<p>{% trans "To raise a generation of super heroes that will protect our fascinating green planet and help in saving it! 🦸🦸‍♂️." %}</p>
								</div><!-- /.col-sm-10 -->
							
							</div><!-- /.row -->

						</header><!-- /.fancy-title -->

					</div><!-- /.col-lg-6 -->

					<div class="lqd-column col-lg-5 col-md-6 col-lg-offset-1">

						<div class="lqd-iconbox-stack" data-custom-animations="true" data-ca-options='{"triggerHandler":"inview","animationTarget":"all-childs","duration":"1200","startDelay":"400","delay":"100","easing":"easeOutQuint","direction":"forward","initValues":{"scaleX":0.25,"scaleY":0.25,"opacity":0},"animations":{"scaleX":1,"scaleY":1,"opacity":1}}'>

							<div class="iconbox iconbox-round iconbox-shadow iconbox-heading-xs iconbox-filled d-inline-flex iconbox-blue" data-plugin-options='{"color": "#3d59e8"}'>
									
								<div class="iconbox-icon-wrap">
									<span class="iconbox-icon-container">
										<img src="{% static 'img/awareness.png' %}" width="70" alt="">
									</span>
								</div><!-- /.iconbox-icon-wrap -->
								<div class="contents">
									<p class="font-size-14">
										<strong>{% trans "AWARENESS" %}</strong>
									</p>
								</div><!-- /.contents -->

							</div><!-- /.iconbox -->

							<div class="iconbox iconbox-round iconbox-shadow iconbox-heading-xs iconbox-filled d-inline-flex iconbox-pink" data-plugin-options='{"color": "#fe688b"}'>
									
								<div class="iconbox-icon-wrap">
									<span class="iconbox-icon-container">
										<img src="{% static 'img/fun.png' %}" width="70" alt="">
									</span>
								</div><!-- /.iconbox-icon-wrap -->
								<div class="contents">
									<p class="font-size-14">
										<strong>{% trans "FUN" %}</strong>
									</p>
								</div><!-- /.contents -->

							</div><!-- /.iconbox -->

							<div class="iconbox iconbox-round iconbox-shadow iconbox-heading-xs iconbox-filled d-inline-flex iconbox-green" data-plugin-options='{"color": "#28d5a7"}'>
									
								<div class="iconbox-icon-wrap">
									<span class="iconbox-icon-container">
										<img src="{% static 'img/educational.png' %}" width="70" alt="">
									</span>
								</div><!-- /.iconbox-icon-wrap -->
								<div class="contents">
									<p class="font-size-14">
										<strong>{% trans "EDUCATIONAL" %}</strong>
									</p>
								</div><!-- /.contents -->

							</div><!-- /.iconbox -->

						</div><!-- /.lqd-iconbox-stack -->

					</div><!-- /.col-lg-5 col-md-6 -->

				</div><!-- /.row -->
			</div><!-- /.container -->
		</section><!-- /.vc_row -->

		<section class="vc_row pt-50 pb-60">
			<div class="container">
				<div class="row">

					<div class="lqd-column col-md-10 col-md-offset-1 text-center" data-custom-animations="true" data-ca-options='{"triggerHandler":"inview","animationTarget":"all-childs","duration":1200,"delay":100,"initValues":{"translateY":80,"opacity":0},"animations":{"translateY":0,"opacity":1}}'>

						<header class="fancy-title fancy-title-big mb-6">
							<h2 data-split-text="true" data-split-options='{"type":"lines"}'>
								{% trans "we launched a new" %}
								<br>
								<span class="font-size-2-15x lh-15 text-primary" data-fittext="true" data-fittext-options='{ "maxFontSize": 70, "minFontSize": 40, "compressor": 0.5 }'>{% trans "game!!!" %}</span>
							</h2>
							<a href="{% url 'games_home' %}" class="btn btn-solid text-uppercase circle btn-bordered border-thin font-size-14 font-weight-semibold">
								<span>
									<span class="btn-txt">{% trans "see our games" %}</span>
								</span>
							</a>
						</header><!-- /.fancy-title -->

						<!-- <a class="btn btn-solid text-uppercase circle btn-bordered border-thin font-size-14 font-weight-semibold" data-localscroll="true" data-localscroll-options='{"scrollBelowSection":true}'>
							<span>
								<span class="btn-txt">Coming Soon</span>
							</span>
						</a> -->
						
					</div><!-- /.col-md-10 col-md-offset-1 -->

				</div><!-- /.row -->
			</div><!-- /.container -->
		</section>
	</main><!-- /#content.content -->
	{% endblock %}
