{% extends 'main/base.html' %}

{% block main %}
{% load static %}
{% load i18n %}
<main id="content" class="content">
    <div class="lqd-particles-bg-wrap">
        <div class="ld-particles-container">
            <div
                class="ld-particles-inner"
                id="ld-152724427333759-519b63e0-a9d6"
                data-particles="true"
                data-particles-options='{"particles":{"number":{"value":5,"density":2},"color":{"value":["#f9b851","#60eacb","#ff97af","#4e6bff"]},"shape":{"type":["circle","edge","triangle"]},"size":{"value":55,"random":true,"anim":{"enable":true,"size_min":40,"speed":5}},"move":{"enable":true,"direction":"right","speed":1,"random":true,"out_mode":"out","attract":{"enable":true,"rotateX":1200,"rotateY":600}}},"interactivity":[],"retina_detect":true}'>
            </div>
        </div>
    </div><!-- /.lqd-particles-bg-wrap -->
    
    <section class="vc_row pt-85 pb-80">
        <div class="container">
            <div class="row">
                
                <div class="lqd-column col-md-12 text-center">

                    <header class="fancy-title">
                        <!-- <h6 class="font-size-14 text-uppercase ltr-sp-175 opacity-07">our heroes</h6> -->
                        <h2>{% trans "Team members" %}</h2>
                    </header>

                </div><!-- /.col-md-12 text-center -->

                <div class="lqd-column col-md-4 text-center">

                    <div class="liquid-img-group-container">
                        <div class="liquid-img-group-inner">
                            <div class="liquid-img-group-single" data-reveal="true" data-reveal-options='{ "direction":"tb" }'>
                                <!-- <figure>
                                    <img src="./assets/demo/team/team-16.jpg" alt="David Richards" />
                                </figure> -->
                            </div><!-- /.liquid-img-group-single -->
                        </div><!-- /.liquid-img-group-inner -->
                    </div><!-- /.liquid-img-group-container -->

                    <h3 class="mt-30">Ghaidaa</h3>
                    <!-- <h6 class="mb-20 font-size-12 font-weight-semibold text-uppercase ltr-sp-1 text-primary">Bootcamp trainer</h6> -->

                    <p class="mb-35">{% trans "Hello world, my name is Ghaidaa Khan! A programmer with a curious soul, seeking adventure and knowledge. A proud mom of an adorable dog named Lilo! 
                        " %}</p>

                    <!-- <ul class="social-icon social-icon-md">
                        <li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fa fa-instagram"></i></a></li>
                    </ul> -->

                </div><!-- /.col-md-4 -->

                <div class="lqd-column col-md-4 text-center">

                    <div class="liquid-img-group-container">
                        <div class="liquid-img-group-inner">
                            <div class="liquid-img-group-single" data-reveal="true" data-reveal-options='{ "direction":"tb" }'>
                                <!-- <figure>
                                    <img src="./assets/demo/team/team-17.jpg" alt="David Richards" />
                                </figure> -->
                            </div><!-- /.liquid-img-group-single -->
                        </div><!-- /.liquid-img-group-inner -->
                    </div><!-- /.liquid-img-group-container -->

                    <h3 class="mt-30">{% trans "Bashayer" %}</h3>
                    <!-- <h6 class="mb-20 font-size-12 font-weight-semibold text-uppercase ltr-sp-1 text-primary">Crossfit trainer</h6> -->
                    Greetings fellow humans! Bashayer is here. An eco-friendly, comedy-loving individual ;) Community and research are my passion. I do believe they’ll be our secret weapons to save our lovely earth! Greeting fellow humans! Bashayer is here. A barista by morning, Advertisment student by noon and a fairy by night ;) i make magic happen." %}</p>

                    <!-- <ul class="social-icon social-icon-md">
                        <li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fa fa-instagram"></i></a></li>
                    </ul> -->

                </div><!-- /.col-md-4 -->

                <div class="lqd-column col-md-4 text-center">

                    <div class="liquid-img-group-container">
                        <div class="liquid-img-group-inner">
                            <div class="liquid-img-group-single" data-reveal="true" data-reveal-options='{ "direction":"tb" }'>
                                <!-- <figure>
                                    <img src="./assets/demo/team/team-18.jpg" alt="David Richards" />
                                </figure> -->
                            </div><!-- /.liquid-img-group-single -->
                        </div><!-- /.liquid-img-group-inner -->
                    </div><!-- /.liquid-img-group-container -->

                    <h3 class="mt-30">{% trans "Rodeen" %}</h3>
                    <!-- <h6 class="mb-20 font-size-12 font-weight-semibold text-uppercase ltr-sp-1 text-primary">Spinning trainer</h6> -->

                    <p class="mb-35">{% trans "Hi! My name’s Rodeen and I’m still a little kid on the inside :D I have 8 pets.. and still counting! And I love making new friends :)
                        " %}</p>

                    <!-- <ul class="social-icon social-icon-md">
                        <li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fa fa-instagram"></i></a></li>
                    </ul> -->

                </div><!-- /.col-md-4 -->

                <div class="lqd-column col-md-4 text-center">

                    <div class="liquid-img-group-container">
                        <div class="liquid-img-group-inner">
                            <div class="liquid-img-group-single" data-reveal="true" data-reveal-options='{ "direction":"tb" }'>
                                <!-- <figure>
                                    <img src="./assets/demo/team/team-18.jpg" alt="David Richards" />
                                </figure> -->
                            </div><!-- /.liquid-img-group-single -->
                        </div><!-- /.liquid-img-group-inner -->
                    </div><!-- /.liquid-img-group-container -->

                    <h3 class="mt-30">{% trans "Monier" %}</h3>
                    <!-- <h6 class="mb-20 font-size-12 font-weight-semibold text-uppercase ltr-sp-1 text-primary">Spinning trainer</h6> -->

                    <p class="mb-35">{% trans "Hi there, I’m Monier Daghistani, an Architecture student. I’m passionate about the animal world" %}</p>

                    <!-- <ul class="social-icon social-icon-md">
                        <li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fa fa-instagram"></i></a></li>
                    </ul> -->

                </div><!-- /.col-md-4 -->

                <div class="lqd-column col-md-4 text-center">

                    <div class="liquid-img-group-container">
                        <div class="liquid-img-group-inner">
                            <div class="liquid-img-group-single" data-reveal="true" data-reveal-options='{ "direction":"tb" }'>
                                <!-- <figure>
                                    <img src="./assets/demo/team/team-18.jpg" alt="David Richards" />
                                </figure> -->
                            </div><!-- /.liquid-img-group-single -->
                        </div><!-- /.liquid-img-group-inner -->
                    </div><!-- /.liquid-img-group-container -->

                    <h3 class="mt-30">{% trans "Mohammed" %}</h3>
                    <!-- <h6 class="mb-20 font-size-12 font-weight-semibold text-uppercase ltr-sp-1 text-primary">Spinning trainer</h6> -->
                    <p class="mb-35">{% trans "An Information System student, working and volunteering to help our planet! Fun fact they call me Mr positive" %}</p>
                    <!-- <p class="mb-35">Hello everyone! My names Rodeen and i don't like writing about myself. I love watching Disney movies and cartoons all day. oh, and i'm a college student too.</p> -->

                    <!-- <ul class="social-icon social-icon-md">
                        <li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fa fa-instagram"></i></a></li>
                    </ul> -->

                </div><!-- /.col-md-4 -->

                <div class="lqd-column col-md-4 text-center">

                    <div class="liquid-img-group-container">
                        <div class="liquid-img-group-inner">
                            <div class="liquid-img-group-single" data-reveal="true" data-reveal-options='{ "direction":"tb" }'>
                                <!-- <figure>
                                    <img src="./assets/demo/team/team-18.jpg" alt="David Richards" />
                                </figure> -->
                            </div><!-- /.liquid-img-group-single -->
                        </div><!-- /.liquid-img-group-inner -->
                    </div><!-- /.liquid-img-group-container -->

                    <h3 class="mt-30">{% trans "Alwaleed: " %}</h3>
                    <!-- <h6 class="mb-20 font-size-12 font-weight-semibold text-uppercase ltr-sp-1 text-primary">Spinning trainer</h6> -->

                    <p class="mb-35">{% trans "Ola, my name is Alwaleed Baghdadi, an Accounting student who loves animals way more than humans. I like playing all sorts of sports and driving cars." %}</p>

                    <!-- <ul class="social-icon social-icon-md">
                        <li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fa fa-instagram"></i></a></li>
                    </ul> -->

                </div><!-- /.col-md-4 -->

                <div class="lqd-column col-md-4 text-center">

                    <div class="liquid-img-group-container">
                        <div class="liquid-img-group-inner">
                            <div class="liquid-img-group-single" data-reveal="true" data-reveal-options='{ "direction":"tb" }'>
                                <!-- <figure>
                                    <img src="./assets/demo/team/team-18.jpg" alt="David Richards" />
                                </figure> -->
                            </div><!-- /.liquid-img-group-single -->
                        </div><!-- /.liquid-img-group-inner -->
                    </div><!-- /.liquid-img-group-container -->

                    <h3 class="mt-30">{% trans "Layan" %}</h3>
                    <!-- <h6 class="mb-20 font-size-12 font-weight-semibold text-uppercase ltr-sp-1 text-primary">Spinning trainer</h6> -->
                    <p class="mb-35">{% trans "Hello, my name’s Layan Rajab and I’m a certified pastry chef. A bookworm and a life enthusiast. I would like to keep our earth as healthy and thriving as it always has been." %}</p>
                    <!-- <p class="mb-35"></p> -->

                    <!-- <ul class="social-icon social-icon-md">
                        <li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fa fa-instagram"></i></a></li>
                    </ul> -->

                </div><!-- /.col-md-4 -->
                <div class="lqd-column col-md-4 text-center">

                    <div class="liquid-img-group-container">
                        <div class="liquid-img-group-inner">
                            <div class="liquid-img-group-single" data-reveal="true" data-reveal-options='{ "direction":"tb" }'>
                                <!-- <figure>
                                    <img src="./assets/demo/team/team-18.jpg" alt="David Richards" />
                                </figure> -->
                            </div><!-- /.liquid-img-group-single -->
                        </div><!-- /.liquid-img-group-inner -->
                    </div><!-- /.liquid-img-group-container -->

                    <h3 class="mt-30">{% trans "Mayar" %}</h3>
                    <!-- <h6 class="mb-20 font-size-12 font-weight-semibold text-uppercase ltr-sp-1 text-primary">Spinning trainer</h6> -->
                    <p class="mb-35">{% trans "hello hello, call me designer mayar. A kiddo that wants to show more care for mother nature. A believer in baby steps and in karma too." %}</p>
                    <!-- <p class="mb-35"></p> -->

                    <!-- <ul class="social-icon social-icon-md">
                        <li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fa fa-instagram"></i></a></li>
                    </ul> -->

                </div><!-- /.col-md-4 -->

            </div><!-- /.row -->
        </div><!-- /.container -->
    </section> 
</main><!-- /#content.content -->
{% endblock %}